In [1]:
#import dependencies
# !pip install yfinance
# !pip install pandas_datareader
import pandas as pd
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb
from datetime import date

In [2]:
#set end date for today's date for up to date data
end = date.today()

tickers = ["WD", "PFSI", "LDI", "GHI", "COOP", "AFL", "HIG", "PRU", "ALL", "PGR", "MS", "BLK", "GS", "TROW", "BEN", "V", "MA", "AXP", "DFS", "COF"]

#List to append data temporarily
temp_data= []

#dataframe to hold all the retrieved data
final_df = {}

#loop through each ticker in info_df
for ticker in tickers:

    #store data retrieved a Ticker from 2018-01-01 to today's date
    stock_data = wb.DataReader({ticker}, start='2018-1-1', end= end)
    stock_data["Ticker"] = ticker
    
    #appennding the data in ls list
    temp_data.append(stock_data)
    
    #concate that ls to final_df dataframe
    final_df = pd.concat(temp_data)
#show the dataframe
final_df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2018-01-02,47.700001,47.919998,47.259998,47.320000,41.215229,181300,WD
2018-01-03,47.230000,47.230000,46.090000,46.130001,40.178749,134800,WD
2018-01-04,46.189999,46.810001,46.090000,46.099998,40.152618,140200,WD
2018-01-05,46.110001,48.060001,45.349998,47.980000,41.790073,336900,WD
2018-01-08,48.160000,48.880001,47.369999,47.820000,41.650726,310100,WD
...,...,...,...,...,...,...,...
2024-02-16,136.009995,138.009995,135.130005,137.229996,137.229996,1626700,COF
2024-02-20,130.830002,138.949997,129.690002,137.389999,137.389999,16526500,COF
2024-02-21,136.059998,136.750000,134.070007,135.009995,135.009995,6491400,COF
2024-02-22,134.750000,136.279999,134.320007,134.559998,134.559998,4344100,COF
2024-02-23,135.389999,136.539993,134.350006,135.520004,135.520004,3091800,COF

In [3]:
final_df.reset_index()
final_df.to_csv("Financial_stock_data.csv")