In [1]:
# Import dependencies

from alpha_vantage.timeseries import TimeSeries
import sys
import pandas as pd

In [10]:
whole_data = []

symbols = ["ISRG","BDX","ALC","WST","RMD","UNH","ELV", "CVS","CI","HUM","NVO","VRTX","REGN","SGEN","MRNA","PFE","JNJ","LLY","AZN", "MRK"]

for symbol in symbols:
    ts = TimeSeries(key= 'JCKWIBVETNVIDURE', output_format='pandas')
    data, meta_data = ts.get_daily(symbol=symbol, outputsize='full')
    data_df = pd.DataFrame(data)
    
# data_df.info()
    data_df = data_df.sort_index()
    
# Set the 'date' column as the index
    start_date = '2017-12-31'
    end_date = '2024-02-26'
    filtered_data = pd.DataFrame(data_df.loc[start_date:end_date])
    
# stock_data = data_date_changed
    filtered_data["Ticker"] = symbol
    whole_data.append(filtered_data)
    
final_data = pd.concat(whole_data)
final_data

            1. open  2. high   3. low  4. close  5. volume Ticker
date
2018-01-02   367.89  375.810  365.110    375.25   694925.0   ISRG
2018-01-03   377.12  384.170  375.010    383.82   767711.0   ISRG
2018-01-04   385.73  389.480  375.090    376.92   889251.0   ISRG
2018-01-05   380.88  380.880  375.800    379.01   672195.0   ISRG
2018-01-08   378.72  392.640  377.210    391.86   938767.0   ISRG
...             ...      ...      ...       ...        ...    ...
2024-02-20   128.13  129.285  127.205    127.37  6952764.0    MRK
2024-02-21   127.44  128.160  126.800    128.12  4849322.0    MRK
2024-02-22   128.15  129.720  127.650    129.26  6517381.0    MRK
2024-02-23   129.79  130.240  128.860    129.45  5177378.0    MRK
2024-02-26   129.38  129.700  128.470    128.84  5158398.0    MRK

[30343 rows x 6 columns]

In [11]:
final_data.to_csv('../raw_Healthcare_stock_data.csv', index=True)